<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/samarthagarwal/Desktop/15d4903ffd54f3ad76007ffae8722fc5.png</key>
	<data>
	Ym9va9gCAAAAAAQQMAAAAD8/NNLIVh40WmFZMdOt68/aL/e94IewkeLnwjtDFNWL1AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAOAAAAAQEAAHNhbWFydGhhZ2Fyd2Fs
	AAAHAAAAAQEAAERlc2t0b3AAJAAAAAEBAAAxNWQ0OTAzZmZkNTRmM2FkNzYwMDdmZmFl
	ODcyMmZjNS5wbmcQAAAAAQYAABAAAAAgAAAAOAAAAEgAAAAIAAAABAMAAAPSCQAAAAAA
	CAAAAAQDAAD6bQoAAAAAAAgAAAAEAwAAE24KAAAAAAAIAAAABAMAAKknKAQAAAAAEAAA
	AAEGAACMAAAAnAAAAKwAAAC8AAAACAAAAAAEAABBw1jQ5SZ5ixgAAAABAgAAAQAAAAAA
	AAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAAB
	CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFAGXjoAAAAIAAAA
	AAQAAEHB3kSAAAAAJAAAAAEBAAAwMUI4MTQyRC1DNEExLTQzOTktOEIwRC03QjZDNUFC
	NkZGMTkYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
	AAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAdAAAAAAAAAAFEAAAzAAAAAAAAAAQ
	EAAA9AAAAAAAAABAEAAA5AAAAAAAAAACIAAAwAEAAAAAAAAFIAAAMAEAAAAAAAAQIAAA
	QAEAAAAAAAARIAAAdAEAAAAAAAASIAAAVAEAAAAAAAATIAAAZAEAAAAAAAAgIAAAoAEA
	AAAAAAAwIAAAzAEAAAAAAAABwAAAFAEAAAAAAAARwAAAIAAAAAAAAAASwAAAJAEAAAAA
	AAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/samarthagarwal/Desktop/Simulator Screen Recording - iPhone X - 2021-07-28 at 19.55.37.mp4</key>
	<data>
	Ym9va/gCAAAAAAQQMAAAAFQu6cPxLR6k8nF4cnSnHfNNH5YZ/db1Ls0HUe3F3xpR9AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAOAAAAAQEAAHNhbWFydGhhZ2Fyd2Fs
	AAAHAAAAAQEAAERlc2t0b3AAQgAAAAEBAABTaW11bGF0b3IgU2NyZWVuIFJlY29yZGlu
	ZyAtIGlQaG9uZSBYIC0gMjAyMS0wNy0yOCBhdCAxOS41NS4zNy5tcDQAABAAAAABBgAA
	EAAAACAAAAA4AAAASAAAAAgAAAAEAwAAA9IJAAAAAAAIAAAABAMAAPptCgAAAAAACAAA
	AAQDAAATbgoAAAAAAAgAAAAEAwAAGCEoBAAAAAAQAAAAAQYAAKwAAAC8AAAAzAAAANwA
	AAAIAAAAAAQAAEHDWNAZ9v8AGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
	AAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
	TWFjaW50b3NoIEhECAAAAAQDAAAAUAZeOgAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEA
	ADAxQjgxNDJELUM0QTEtNDM5OS04QjBELTdCNkM1QUI2RkYxORgAAAABAgAAgQAAAAEA
	AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAA
	AAAAEAAAAAQQAACUAAAAAAAAAAUQAADsAAAAAAAAABAQAAAUAQAAAAAAAEAQAAAEAQAA
	AAAAAAIgAADgAQAAAAAAAAUgAABQAQAAAAAAABAgAABgAQAAAAAAABEgAACUAQAAAAAA
	ABIgAAB0AQAAAAAAABMgAACEAQAAAAAAACAgAADAAQAAAAAAADAgAADsAQAAAAAAAAHA
	AAA0AQAAAAAAABHAAAAgAAAAAAAAABLAAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/samarthagarwal/Desktop/Simulator Screen Recording - iPhone X - 2021-07-28 at 19.58.19.mp4</key>
	<data>
	Ym9va/gCAAAAAAQQMAAAAExIhLR4XA6kWr3g2Nhq2a6gjDymRHAKKlkt2LCOPYeT9AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAOAAAAAQEAAHNhbWFydGhhZ2Fyd2Fs
	AAAHAAAAAQEAAERlc2t0b3AAQgAAAAEBAABTaW11bGF0b3IgU2NyZWVuIFJlY29yZGlu
	ZyAtIGlQaG9uZSBYIC0gMjAyMS0wNy0yOCBhdCAxOS41OC4xOS5tcDQAABAAAAABBgAA
	EAAAACAAAAA4AAAASAAAAAgAAAAEAwAAA9IJAAAAAAAIAAAABAMAAPptCgAAAAAACAAA
	AAQDAAATbgoAAAAAAAgAAAAEAwAASCUoBAAAAAAQAAAAAQYAAKwAAAC8AAAAzAAAANwA
	AAAIAAAAAAQAAEHDWNBuVEiNGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
	AAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
	TWFjaW50b3NoIEhECAAAAAQDAAAAUAZeOgAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEA
	ADAxQjgxNDJELUM0QTEtNDM5OS04QjBELTdCNkM1QUI2RkYxORgAAAABAgAAgQAAAAEA
	AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAA
	AAAAEAAAAAQQAACUAAAAAAAAAAUQAADsAAAAAAAAABAQAAAUAQAAAAAAAEAQAAAEAQAA
	AAAAAAIgAADgAQAAAAAAAAUgAABQAQAAAAAAABAgAABgAQAAAAAAABEgAACUAQAAAAAA
	ABIgAAB0AQAAAAAAABMgAACEAQAAAAAAACAgAADAAQAAAAAAADAgAADsAQAAAAAAAAHA
	AAA0AQAAAAAAABHAAAAgAAAAAAAAABLAAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
